<h1 class="title">Orçamento</h1>
<div class="content">
    <div class="table">
        <table>
            <tr>
                <th>Papel</th>
                <th>Valor da Folha</th>
                <th>Quantidade</th>
            </tr>
            <tr *ngFor="let item of papeis">
                <td>{{item.papel_descricao}}</td>
                <td>R$ {{item.papel_valor}}</td>
                <td><input required type="number" (change)="adicionarPapel(item.papel_id, $event)"></td>
            </tr>
        </table>
    </div>
    
    <div class="d-flex column">
        <div class="d-flex column">
            <label>Chapa</label>
            <input required [(ngModel)]="data.chapa" type="number" placeholder="Chapa">
        </div>
        <div class="d-flex column mt-3">
            <label>Horas de Impressão</label>
            <input required type="number" [(ngModel)]="data.impressaoHora" placeholder="Horas de Impressão">
        </div>
        <div class="d-flex column mt-3">
            <label>Horas de acabamento</label>
            <input required type="number" [(ngModel)]="data.acabamentoHora" placeholder="Horas de acabamento">
        </div>
        <div class="d-flex column mt-3">
            <label>Valor do Corte</label>
            <input required [(ngModel)]="data.corte" currencyMask [options]="maskOptions" placeholder="Valor do Corte">
        </div>
        <div class="d-flex column mt-3">
            <label>Valor da Laminação</label>
            <input required [(ngModel)]="data.laminacao" currencyMask [options]="maskOptions" placeholder="Valor da Laminação">
        </div>
        <div class="d-flex column mt-3">
            <label>Diversos</label>
            <input required [(ngModel)]="data.diversos" currencyMask placeholder="Diversos">
        </div>
        <div class="d-flex column mt-3">
            <label>Margem de Lucro (%)</label>
            <input required [(ngModel)]="data.lucro" mask="percent" suffix="%" placeholder="Lucro">
        </div>
        <div class="d-flex column mt-3">
            <label>Imposto (%)</label>
            <input required [(ngModel)]="data.imposto" mask="percent" suffix="%" placeholder="Imposto">
        </div>
        <button type="submit" (click)="calcular()" class="mt-4" mat-raised-button color="primary">Calcular Orçamento</button>
        <div *ngIf="valor !=0 " class="d-flex justify-content-center mt-2">
            <h1 class="title">{{valor | currency: 'R$'}}</h1>
        </div>
    </div>

</div>